*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #4b4b4b;
}

/****** variable COMIENZO ******/

@import "variables";

/****** variable FIN ******/

@mixin fontStyle($fontSize) {
    font-size: $fontSize;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}


/********* COMIENZO navbar *********/

header .navbar  {
    background: $color4;
}

li a {
    font-weight: 400;
    font-size: 20px;
    color: $color1;
    text-decoration: none;
    transition: 0.2s;
}

li a:hover {
    color:$color2;
    transform: scale(1.10);
}

.navbar-brand {
    width: 60px;
    border-radius: 10px;
}

.menuNavegacion {
    list-style: none;
}

.redes a {
    color: $color1;
    margin-left: auto;
    padding: 5px;
    font-size: 25px;
    text-decoration: none;
    border-radius: 2px;
    transition: 0.2s
}

.redes a:hover {
    color:$color2;
    transform: scale(1.10);
}

/******* FIN navbar ********/


/********* COMIENZO main *********/

main h1 {
    font-weight: 700;
    font-size: 60px;
    color: $color1;
    text-shadow: 2px 2px 4px $color4;
    animation-duration: 3s;
    animation-name: slidein;
    padding-right: 20px;
    font-family: $font1;
    text-align: center;
}

    @keyframes slidein {
    from {
    margin-left: 100%;
    width: 300%
}
    to {
    margin-left: 0%;
    width: 100%;
    }
}

main p {
    color: $color1;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    padding-right: 20px;
    margin-top: 28px;
    text-align: center;
}

main img {
    width: 500px;
    transition: all .2s;
}

main img:hover {
    transform: scale(1.10);
}

/******** FIN main *********/



/******** COMIENZO videos *********/

@import "videos";

/******** FIN videos *********/


/******** COMIENZO info comprar *********/

.info .comprar {
    display: grid;
    margin: 20px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-height: 300px;
    background-color: $color2;
    border-radius: 10px;
}

.comprar i {
    @include fontStyle(45px);
    margin-top: 15px;
    color: #ffffff
}

.comprar h2 {
    @include fontStyle(35px);
}

.comprar p {
    @include fontStyle(18px);
}

/******** Fin info comprar *********/



/******** COMIENZO--galeria mas vendidos **********/

.diseniosTitulo {
    display: grid;    
    background-color: $color4;
    margin-top: 200px;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px #000000;
}

.diseniosTitulo h2 {
    @include fontStyle(40px);
    padding: 15px;
    font-weight: 600;
    color: #ffffff;
}

.galeriaContenedor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.vendidos img {
    height: 550px;
    display: flex;
    margin: auto;
    background-color: $color3;
    border-radius: 5px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all .2s;
}

.galeriaContenedor img:hover {
    transform: scale(1.10);
}

.boton {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 90px;
}

button {
    padding: 9px 5px;
    background-color: $color3;
    color: $color1;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
    color:$color2;
    transition: 0.2s;   
}

/* tapices*/

.tapiContenedor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.telas img {
    margin: auto;
    display: flex;
    height: 400px;
    border-radius: 5px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/**********fin--galeria mas vendidos********** */



/******* Comienzo nosotros en index ******************/

.comienzoTitulo {
    display: grid;    
    background-color: $color4;
    margin-top: 250px;
    margin-bottom: 80px;
    text-shadow: 2px 2px 4px #000000;
}

.comienzoTitulo h3 {
    @include fontStyle(40px);
    padding: 15px;
    font-weight: 600;
    color: $color1;
}

.comienzo {
    display: grid;    
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    margin: auto;
    margin-bottom: 250px;
}

.comienzo img {
    background-color: $color1;
    margin: auto;
    height: 370px;
    border-radius: 10px;
}

.comienzo p {
    max-height: 300px;
    padding: 32px;
    text-align: center;
    color: $color1;
    @include fontStyle(22px);
    margin: auto;
    padding-right: 75px;
}

@media only screen and (max-width:720px) {
    .comienzo {
        grid-template-columns: 1fr;
}
}  

/******* Fin nosotros en index ******************/



/************* Footer--comienzo **************/

.pie {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
    padding: 25px;
    margin-top: 100px;
    background-color: $color3;
}

.pie img {
    height: 150px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pie p {
    margin: auto;
    color: $color1;
    text-align: center;
}

.pieRedes {
    display: grid;
    width: 150px;
    margin: auto;
}

.pieRedes a {
    color: $color1;
    justify-content: center;
    margin: auto;
    font-size: 25px;
    text-decoration: none;
    border-radius: 2px;
    transition: 0.2s;
}

.pieRedes a:hover {
    color:$color2;
    transform: scale(1.10);
}

@media only screen and (max-width:720px) {
    .pie {
    grid-template-columns: 1fr;
}
}

/********* fin--footer ***************/


/****** formulario Inicio *******/

form {
    background-color: $color2;
    padding: 45px;
}

$info: (
    15px: yellow,
    20px: blue,
    25px: red
);

@each $sizes, $colores in $info {
    .bienvenidos-#{colores} {
        background-color: yellowgreen;
        font-size: 26px;
        border: 2px solid $colores;
    }
}

/****** formulario Fin *******/

